/node_modules
/public/hot
/public/storage
/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
worker.log
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
*.code-workspace
/.tic-ssi.json
